.main-container {
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: lightgray;
}

.card-container {
  width: 500px;
  height: 70%;

  background-color: white;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}
